{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h2>Check PNR Status</h2>

        {% if form %}
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Check PNR</button>
            </form>
        {% endif %}

        {% if booking %}
            <div class="booking-info mt-4">
                <h3>Booking Details</h3>
                <p><strong>PNR:</strong> {{ booking.pnr }}</p>
                <p><strong>Booking Status:</strong> {{ booking.booking_status }}</p>
                <p><strong>Train Name:</strong> {{ journey.train }}</p>
                <p><strong>Start Station:</strong> {{ seat_booking.start_station }} departure: {{ journey.departure_time }}</p>
                <p><strong>Destination Station:</strong> {{ seat_booking.end_station }} arrival: {{ journey.arrival_time }}</p>
                <p><strong>Date of Journey:</strong> {{ seat_booking.journey_date }}</p>
                <p><strong>Passenger:</strong> {{ seat_booking.passenger }}</p>
                <p><strong>Booking Date:</strong> {{ booking.booking_date }}</p>
            </div>
        {% elif form.is_bound and not booking %}
            <p>No booking details found for the provided PNR.</p>
        {% endif %}
    </div>
{% endblock %}
