{% extends 'users/base.html' %}

{% block content %}
<h2>Confirm Your Booking</h2>

<p>Train: {{ seat.journey.train }}</p>
<p>From: {{ start_station }} to {{ dest_station }}</p>
<p>Date of Journey: {{ date_of_journey }}</p>
<p>Available Seats: {{ available_seats }}</p>

<form method="POST" action="{% url 'create_booking' %}">
    {% csrf_token %}
    <input type="hidden" name="selected_seat_id" value="{{ seat.seat_id }}">
    <input type="hidden" name="date_of_journey" value="{{ date_of_journey }}">
    <input type="hidden" name="start_station_code" value="{{ start_station.station_code }}">
    <input type="hidden" name="dest_station_code" value="{{ dest_station.station_code }}">
    <input type="hidden" name="available_seats" value="{{ available_seats }}">
    <button type="submit" class="btn btn-primary">Confirm Booking</button>
</form>
{% endblock %}
